<footer class="page-footer font-small bg-blue pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Social Network</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.linkedin.com/in/nat%C3%A3-grecu/" target="_blank" class="icoLinkedin">
                            <img src="https://imgur.com/AIVRYBL.png" class="w-40 ml-3">
                       </a>
                    </li>
                    <li>
                        <a href="https://github.com/NATA-GRECU" target="_blank" class="icoGithub">
                            <img src="https://i.imgur.com/a1DjRQh.png" class="w-40">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    
    <div class="footer-copyright text-center py-3 bg-dblue">
        <p>© 2022 Copyright: Natã Grecu</p>
    </div>
    
</footer>
